{:deps {org.clojure/clojure {:mvn/version "1.10.0"}}
 :aliases {:rebl
           {:extra-deps {org.clojure/core.async {:mvn/version "0.4.490"}
                         com.cognitect/rebl
                         {:local/root "PATH_TO_REBL/REBL-VERSION.jar"}}}}}
